html {
    background-color: beige;
}


header {
    padding-top: 1%;
    padding-bottom: 1%;
    border: 5px;
    border-color: honeydew;
    border-style: solid;
    background-color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 300%;
    color: darkblue;
    justify-content: center;
}

h1 {
    color: darkblue;
    font-size: 200%;
    padding-bottom: 1%;
    border: 5px;
    border-color: honeydew;
    border-style: solid;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    border: 5px;
    border-color: honeydew;
    border-style: solid;
    background-color: azure;
}

li {
    text-align: center;
    list-style: none;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

li:hover {
    color: crimson;
}

button {
    border-color: cyan;
    border-style: solid;
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    cursor: pointer;
}

#first {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
}

#second {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
}

#third {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
}

#fourth {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
}

#fifth {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkblue;
}